[[language]]
name = "python"
language-servers = ["pylsp", "ruff", "pyrefly"]

[language-server.ruff]
command = "uvx"
args = ["ruff", "server"]

[language-server.pylsp]
command = "uvx"
args = ["--from", "python-lsp-server", "pylsp"]

[language-server.pyrefly]
command = "uvx"
args = ["pyrefly", "lsp"]

[[language]]
name = "yaml"
file-types = ["yaml", "yml"]
language-servers = ["yaml-language-server", "ansible-language-server"]

[language-server.ansible-language-server]
command = "ansible-language-server"
args = ["--stdio"]

[[language]]
name = "rust"
language-servers = ["rust-analyzer"]

[language-server.rust-analyzer.config.check]
command = "clippy"
